<?xml version="1.0"?>
<!--
/**
 * GoogleTagManager plugin for Magento 
 *
 * @package     Yireo_GoogleTagManager
 * @author      Yireo
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>
    <modules>
        <Yireo_GoogleTagManager>
            <version>1.4.8</version>
        </Yireo_GoogleTagManager>
    </modules>

    <global>
        <blocks>
            <googletagmanager>
                <class>Yireo_GoogleTagManager_Block</class>
            </googletagmanager>
        </blocks>
        <helpers>
            <googletagmanager>
                <class>Yireo_GoogleTagManager_Helper</class>
            </googletagmanager>
        </helpers>
        <models>
            <googletagmanager>
                <class>Yireo_GoogleTagManager_Model</class>
            </googletagmanager>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <googletagmanager>
                    <file>googletagmanager.xml</file>
                </googletagmanager>
            </updates>
        </layout>

        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <googletagmanager_product_list_data>
                        <type>singleton</type>
                        <class>Yireo_GoogleTagManager_Observer_ProductListData</class>
                        <method>execute</method>
                    </googletagmanager_product_list_data>
                    <googletagmanager_data_layer>
                        <type>singleton</type>
                        <class>Yireo_GoogleTagManager_Observer_LazyLoadDataLayer</class>
                        <method>execute</method>
                    </googletagmanager_data_layer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>


    <default>
        <googletagmanager>
            <settings>
                <active>1</active>
                <method>1</method>
                <category_products>3</category_products>
                <category_sorting>url</category_sorting>
            </settings>
        </googletagmanager>
    </default>
</config>
